<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.babycloset">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:usesCleartextTraffic="true"
            android:name=".Network.ApplicationController"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/babycloset_logo"
            android:label="아가옷장"
            android:roundIcon="@drawable/babycloset_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".UI.Activity.info2Activity">
        </activity>
        <activity android:name=".UI.Activity.info1Activity">
        </activity>
        <activity android:name=".UI.Activity.SearchActivity">
        </activity>
        <activity android:name=".UI.Activity.QRCreateActivity">
        </activity>
        <activity
                android:name="com.journeyapps.barcodescanner.CaptureActivity"
                android:screenOrientation="fullSensor"
                tools:replace="screenOrientation"/>
        <activity android:name=".UI.Activity.QRScanActivity">
        </activity>
        <activity android:name=".UI.Activity.LoginActivity">
        </activity>
        <activity android:name=".UI.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".UI.Activity.CategoryActivity">
        </activity>
        <activity android:name=".UI.Activity.ModifyPostActivity"/>
        <activity android:name=".UI.Activity.QRListActivity">
        </activity>
        <activity android:name=".UI.Activity.QRMainActivity">
        </activity>
        <activity android:name=".UI.Activity.FilterActivity">
        </activity>
        <activity android:name=".UI.Activity.MainActivity">

        </activity>
        <activity android:name=".UI.Activity.SignupActivity">
        </activity>
        <activity android:name=".UI.Activity.InfoConsentActivity"/>
        <activity android:name=".UI.Activity.EditInfoActivity"/>
        <activity android:name=".UI.Activity.RatingActivity"/>
        <activity android:name=".UI.Activity.ListPeopleActivity">
        </activity>
        <activity android:name=".UI.Activity.ProductActivity">
        </activity>
        <activity android:name=".UI.Activity.DeadLineProductActivity">
        </activity>
        <activity android:name=".UI.Activity.AllProductActivity">
        </activity>
        <activity android:name=".UI.Activity.WritePostActivity"/>
        <activity android:name=".UI.Activity.ShareProductActivity">
        </activity>
        <activity android:name=".UI.Activity.ReceiveProductActivity"/>
        <activity android:name=".UI.Activity.EmailActivity">
        </activity>
        <activity android:name=".UI.Activity.EmailMsgActivity"/>
    </application>

</manifest>